.slider-container {
    background: linear-gradient(90deg, #003344, #00b3e3);
    padding: 50px 0;
  }
/* .happy-clients-section {
    background: linear-gradient(90deg, #003344, #00b3e3);
    padding: 50px 0;
  } */
  
  .happy-heading {
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.05); /* Light background text */
    margin-bottom: -20px;
  }
  
  .happy-subheading {
    font-size: 1.8rem;
    color: #0056b3;
    margin-bottom: 10px;
  }
  
  .client-card {
    border: none;
    background: none;
    text-align: center;
  }
  
  .client-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #fff;
  }
  