h2 {
    /* color: #007bff; */
    /* Example color */
}

.form-control {
    border-radius: 0.25rem;
    /* Rounded corners */
}

button {
    /* width: 100%; Full width for the button */
}


.contact-worlds-images {
    max-width: 470px;
    height: auto;
}



.text-contact-heading p {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.07em;
    text-align: center;

}

.text-contact-heading h2 {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0.07em;
    text-align: center;
    color: #00758B;
}



.reach-out-btn {
    background: #00758B;
    border: 1px solid #00758B;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0.02em;
    text-align: center;

}

.reach-contant p {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    line-height: 37.5px;
    letter-spacing: 0.02em;
    text-align: center;

}

.bg-dark-contant p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: center;

}

.lets-content {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0.07em;
    text-align: center;
    color: #00758B;
}

.looking-para {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: center;

}

.contact-cont-conn .icon-contant h5 {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #00758B;
}








.submit-btn-contact {
    box-shadow: 0px 4px 4px 0px #00000040;

    box-shadow: 0px 4px 4px 0px #00000040;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0.06em;
    text-align: center;
    color: black;

}


.last-text-contact {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: center;

}




.contact-man-box img {
    margin-top: -53px;
    max-width: 100%;
    height: 619px;
    width: 438px;
    opacity: 1;
}

.contact-man-box {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 392px;
    height: 568px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    margin: 0px auto;
}

@media (max-width: 325px) {

    .contact-worlds-images {
        max-width: 250px;
        height: auto;
    }

    .contact-man-box img {
        margin-top: -53px;
        max-width: 100%;
        height: 463px;
        width: 340px;
        opacity: 1;

    }

    .contact-man-box {

        box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
        background: rgb(255, 255, 255);
        border: 1px solid rgba(0, 0, 0, 0.25);
        width: 256px;
        height: 410px;
        border-radius: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        margin: 40px auto;

    }
}