.financial-section {
  /* background-color: #f7f9fc; */
  /* border-radius: 10px; */
  margin-top: 8rem !important;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}


.financial-section .fin-main-heading {


  width: 475px;
  height: 57px;
  background: #00758B;
  border: 1px solid #00758B;
  border-radius: 25px;
}

.services-title {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.get-start-container {
  /* margin: 3rem 0; */
}

.get-start-container {
  padding: 0 70px;
}

.FinancialGrowthimg {
  width: 348px;
  height: 518px;
}

.imgORtext {
  margin-top: 5rem;
}

.lack-text {
  margin-top: -15rem;
}

.services-heading {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #00758B;
  /* font-weight: bold; */
}

.services-subtext {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #000000;
  margin-bottom: 30px;
}

.services-subheading {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #00758B;
}

.services-subheading2 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-align: left;
  /* color: #00758B; */
}

.services-description {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-align: left;
  color: black;
}

.get-started-button {
  background: #00758B;
  box-shadow: 0px 4px 4px 0px #00000040 inset;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  border-radius: 12px;
  letter-spacing: 0.06em;
  /* text-align: left; */

  border: none;
  padding: 10px 20px;
  /* font-weight: bold; */
}

.get-started-button:hover {
  background-color: #007a75;
}





























/* Text Area Styling */
.text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
}

/* Vertical Line */
.service-list-container {
  display: flex;
  position: relative;
}

.service-list-container::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  height: 83%;
  width: 1px;
  /* border: 1px solid #000000; */
  background-color: black;
  /* Change this color to match your design */
  margin-right: 15px;
}

/* Service List Styling */
.service-list {
  list-style-type: none;
  padding-left: 30px;
  /* Adjust this to give space for the vertical line */
}














@media (max-width:325px) {

  .financial-section .fin-main-heading {
    width: auto;
    height: auto;
    background: #00758B;
    border: 1px solid #00758B;
    border-radius: 25px;
  }



  .services-title {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 0px;
  }



  .FinancialGrowthimg {
    width: 309px;
    height: 448px;
  }

  .get-started-button {
    position: absolute;
    bottom: -23px !important;
    right: 11px !important;
    height: 54px;
    width: 272px;

  }


  .lack-text {
    margin-top: 4rem;
  }

  .services-heading {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;

  }

  .services-description {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-align: center;

  }

  .our-services {
    font-family: Poppins;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 24px !important;
    letter-spacing: 0.07em !important;
    text-align: center;
    color: #00758B !important;
  }
}