.graphic-first-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;

}

.graphic-first-section h2 {
    font-size: 24px;
    /* background-color: #00758B; */
    color: white;

}

.author-name-marketing {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(0, 0, 0, 1);

}