.hr-services {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
}


.first-section-img-text {
    padding: 0 100px;
}

@media (max-width:325px){
    .first-section-img-text {
        padding: 0 5px;
    }
}