/* src/components/InfoSection.css */
.info-section {
    padding: 3rem;
    /* Padding around the section */
    /* background-color: #f5f5f5; */
    /* Light background color */
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-border {
    box-shadow: 0px 4px 4px 0px #00000040 inset !important;
    height: 602px;
    width: 435px;
    /* box-shadow: 0px 4px 4px 0px #00000040 !important; */

    padding: 15px;
    /* Space between border and image */
    border-radius: 10px;
    /* Rounded corners for the border */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    /* Light shadow */
    max-width: 482px;
    /* Set a max width for the image section */
}

.info-image {
    height: 649px;
    margin-top: -70px;
    width: 100%;
    /* Full width inside the border */
    border-radius: 8px;
    /* Rounded corners for the image */
}

.content-section {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    margin-left: -6rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.info-content {
    /* padding: 1rem; */
    /* border-left: 2px solid #007bff; */
    /* Left border for the content section */
}

.info-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
    /* Space between items */
}

.number-box {
    width: 95px;
    /* Width of the number box */
    height: 100px;
    /* Height of the number box */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #007bff; */
    background: linear-gradient(180deg, #00758B 0%, #000000 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    /* Background color for the number box */
    color: #fff;
    /* White color for text */
    font-size: 64px;
    font-weight: 600;
    /* Font size for numbers */
    /* font-weight: bold; */
    /* Bold text */
    border-radius: 8px;
    /* Slight rounded corners */
    margin-right: 1rem;
    /* Space between number box and text */
}

.text-content {
    flex-grow: 1;
}

.info-title {
    font-family: Poppins !important;
    font-size: 25px !important;
    font-weight: 600 !important;
    line-height: 37.5px !important;
    letter-spacing: 0.02em !important;
    text-align: left;
    color: rgba(0, 117, 139, 1);
    margin-bottom: 0.5rem;
}

.info-description {
    font-family: Poppins !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 27px !important;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000000 !important;
}