.marketing-section {
    margin-top: 5rem;
}


.marketing-section {
    /* background-color: #f8f9fa; */
    padding: 50px 0;
    position: relative;
}

.marketing-title {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0.07em;
    text-align: left;

    margin-bottom: 20px;
}

.marketing-description {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.07em;
    text-align: left;

    margin-bottom: 40px;
}

.marketing-image {
    max-width: 100%;
    height: auto;
}